{% extends "layout.html" %}

{%  block body_content %}
    <h1>This is the plant list!</h1>

    {%  for post in plants %}
        <div>
            <b><u><h3>{{ post.plant_name }}</h3></u></b>
{#            <p>{{ post.plant_name }}</p>#}
            <p>Nickname: <br> {{ post.plant_nick }}</p>
            <p>Plant Details: <br> {{ post.plant_desc }}</p>
            <p>Plant Notes: <br> {{ post.plant_notes }}</p>
            <form action="{{ url_for('updateplant', thisplant = post.id)}}">
                <button type="submit">Update Plant</button>
            </form>
            <form action="{{ url_for('post_delete', thisplant = post.id)}}">
                <button type="submit">Delete Plant</button>
            </form>

            <br>
        </div>
    {% endfor %}

{% endblock %}