{% extends "layout.html" %}

{%  block body_content %}
    <h1>Update Plant.</h1>
    <div class="form">
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.plant_name.label }}
                {{ form.plant_name }}

                {% if form.plant_name.errors %}
                    <div class="error">
                        {% for error in form.plant_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
            <div class="form-group">
                {{ form.plant_nick.label }}
                {{ form.plant_nick }}

                {% if form.plant_nick.errors %}
                    <div class="error">
                        {% for error in form.plant_nick.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
            <div class="form-group">
                {{ form.plant_desc.label }}
                {{ form.plant_desc }}

                {% if form.plant_desc.errors %}
                    <div class="error">
                        {% for error in form.plant_desc.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
            <div class="form-group">
                {{ form.plant_notes.label }}
                {{ form.plant_notes }}

                {% if form.plant_notes.errors %}
                    <div class="error">
                        {% for error in form.plant_notes.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
            <br>
            {{ form.submit }}

        </form>


    </div>

{% endblock %}